.intro p {
    color: lightgray;
    font-family: "Playfair Display", "Helvetica", serif;
    font-size: 2.5em;
    font-weight: 600;
    font-kerning: auto;
    letter-spacing: 1px;
}

.intro {
    width: 60%;
    margin-left: 5%;
    margin-top: 10px;
}

.white {
    color: white;
}

.green-text {
    color: rgba(147, 234, 255, 0.7);
}

nav {
    display: block;
    height: 50px;
    font-family: "Bebas Neue", "Futura", sans-serif;
    letter-spacing: 5px;
    font-size: 13px;
    margin: 0;
    background-image: url("http://i.imgur.com/pYmwqrj.jpg");
    padding: 7px 10px 0px 0px;
    position: fixed;
    left:0;
    right:0;
    top:0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: right;
    margin: 10px 0px;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li:hover a {
    color: black;
    transition: 0.2s;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

.logo {
    float: left;
    margin-left: 5%;
}

#logo1 {
    text-align: left;
    padding-left: 0;
}

.code {
    font-family: "Courier New", "Code", sans-serif;
    margin-left: 5%;
}

.code-1 {
    margin-top: 120px;
}

.link {
    text-decoration: none;
    color: white;
    display: block;
}

.link:hover {
    color: rgba(147, 234, 255, 0.7);
    transition: 0.5s;
}

.link:visited {
    color: rgba(69, 219, 255, 0.7);
}

.link:active {
    color: black;
}

.traditional {
    display: block;
}

.heading {
    margin-top: 80px;
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 2.75em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.work {
    margin-left: 40%;
    margin-right: 10%;
}

.line {
    height: 5px;
    background-color: white;
}

.thinline {
    height: 1px;
    background: darkgray;
    margin-left: 30px;
}

.work ul {
    list-style-type: none;
    margin: 0;
    margin-left: -30px;
    padding: 0;
}

.work ul li p {
    display: block;
    text-align: left;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    font-family: "Courier New";
    z-index: 999;
    position: relative;
    margin-left: 0;
}

.bg-image {
    min-width: 100%;
    max-width: 2000px;
    position: absolute;
    display: none;
}

#darllink {
    position: relative;
}

.container {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 50%;
}

.block {
    height: 70px;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    margin-top: -16px;
}

.container2 {
    position: absolute;
    left: 0;
    right: 0;
}

#bgimg2 {
    margin-top: -500px;
}

.fa {
    z-index: 999;
    position: relative;
    float: right;
}

#darl {
    overflow: visible;
    height: 54px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#darl.expanded {
    height: 300px;
}

#darl .block {
    overflow: hidden;
}

#darl.expanded .block {
    overflow: visible;
    transition: all 0.5s ease-in-out;
}